/*------------------------------------*\
    Variables
\*------------------------------------*/
$border-color: #d3d3d3;
$border: 1px solid $border-color;
$text-basic:#000;
$text-light:#999999;
$color-red: red;
$color-white: #ffffff;
$linear-gradient: linear-gradient(90deg, rgba(0,229,145,1), rgba(47,239,188,1));